.profile-main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://ae01.alicdn.com/kf/HTB137tLLpXXXXb4XFXXq6xXFXXXT/Vintage-World-War-II-We-Can-Do-It-Inspirational-Recruitment-Poster-Bar-Home-Decor-Retro-Kraft.jpg);
  /* background-size: cover; */
}



.profile-container{
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.profile-container img{
  border-radius: 50%;
}

@media(max-width: 518px){
  .profile-container{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .profile-container button{
    margin-bottom:200px;
  }
}