.main {
  width: 100vw;
  height: auto;
  background-color: black;
  background-image: url(https://i.imgur.com/UNyQcQH.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

}

.main-container {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.7);
  color: white;
  
}

.blogpost{

  margin-top: 50px; 
}

.blogpost img{
  width: 550px;
  height: 347px;
}