.main {
  width: 100vw;
  height: auto;
  background-color: black;
  background-image: url(https://i.imgur.com/UNyQcQH.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  /* margin-top: 75px; */
}

.main-container {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.7);
  color: white;
  
}

.main-container iframe{
  height: 315px;
  width: 560px;
}

.blogpost{
  margin-top: 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}



.blogpost img{
  width: 550px;
  height: 347px;
  border: 1px solid white;
}

.bottom-video{
  margin-bottom: 100px;
}

@media(max-width: 706px){
  .main-container iframe{
    height: 225px;
    width: 400px;
  }

  .blogpost{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blogpost h2{
    font-size: 20px;
  }

  .blogpost img{
    height: 225px;
    width: 400px;
    
  }

  @media(max-width: 536px){
    .main-container{
      width: 100vw;
    }

    .main-container iframe{
      height: 169px;
      width: 300px;
    }

    .blogpost img{
      height: 169px;
      width: 300px;
      
    }

    .blogpost h2{
      font-size: 15px;
    }
  }
}