.blogpost-main{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://d12swbtw719y4s.cloudfront.net/images/XYYvNJ9z/aRdbUenpzXqLbi0WXFjf/W4YEgIrpWA.jpeg?w=1240);
  
}

.blogpost-container{
  height: auto;
  width: 80vw;
  background-color: rgba(22, 22, 22, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.blogpost-container header{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.blogpost-info{
  height: auto;
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}



.blogpost-profile-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.blogpost-image{
  height: 400px;
  width: 500px;
  border: 1px solid white;
}


