.chat-container{
  margin-top: 25px;
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(110, 110, 108, 0.7);
}


.chat-window{
  height: 200px;
  width: 775px;
  background-color: black;
  overflow: scroll;
  font-weight: 500;
  font-size: 12px;
}

.my-row{
  margin-left: 10px;
  color: rgb(224, 237, 197);
}

.my-message{
  margin-left: 10px;
  color: white;
}

.chat-inputs{
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-name{
  width: 100px;
}

.chat-message{
  width:500px;
}

.chat-inputs button{
  height: 38px;
}

@media(max-width: 825px){
  .chat-container{
    width: 600px;
  }

  .chat-window{
    width: 575px;
  }

  .chat-message{
    width:300px;
  }
}

@media(max-width: 617px){
  .chat-container{
    width: 400px;
  }

  .chat-window{
    width: 375px;
  }

  .chat-name{
    width: 50px;
  }

  .chat-message{
    width:250px;
  }

  .chat-inputs button{
    width: 50px;
  }
}

@media(max-width: 414px){
  .chat-container{
    width: 300px;
  }

  .chat-window{
    width: 275px;
  }

  .chat-name{
    width: 50px;
  }

  .chat-message{
    width:150px;
  }

  .chat-inputs button{
    width: 50px;
  }
}