.footer-main{
  height: 100px;
  width: 100vw;
  background-color: rgb(83, 83, 83);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.footer-main a{
  color: white;
}

.footer-main p{
  font-size: 10px;
}