.blog-main{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://d12swbtw719y4s.cloudfront.net/images/XYYvNJ9z/aRdbUenpzXqLbi0WXFjf/W4YEgIrpWA.jpeg?w=1240);
  
}

.blog-container{
  height: auto;
  width: 80vw;
  background-color: rgba(22, 22, 22, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container header{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.blog-container button{
  margin: 20px;
}

.post-box{
  height: auto;
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.post-author{
  height: 60px;
  width: 500px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(58, 109, 28);

}

.post-author-right{
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.user-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.post-image{
  height: 300px;
  width: 500px;
  border: 1px solid white;
}

.post-title{
  font-weight: bold;
  font-size: 20px;
}

@media(max-width: 706px){
  .post-box{
    width: 400px;
  }

  .post-author{
    width: 400px;
    justify-content: space-around;
  }

  .post-title{
    font-size: 15px;
  }

  .post-image{
    height: 320px;
    width:400px;

  }

  @media(max-width: 536px){
    .blog-container{
      width: 100vw;
    }
  }

  @media(max-width: 454px){
    .post-box{
      width: 300px;
    }
  
    .post-author{
      width: 300px;
    }
  
    .post-title{
      font-size: 12px;
    }

    .user-image{
      height: 40px;
      width: 40px;
    }
  
    .post-image{
      height: 240px;
      width:300px;
  
    }
  }
}
