.GG-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.GG-main button{
  margin-bottom: 25px;
}

.GG-container{
  margin-top: 50px;
}

@media(max-width: 631px){
  
}