.allies-main{
  height: auto;
  width: 100vw;
  background-image: url(https://www.iwm.org.uk/sites/default/files/styles/feature_hero_desktop_1x/public/2018-01/map_detail.jpg?itok=mzB9hsiX);
  color: white;
}

.allies-container{
  height: auto;
  width: 100vw;
  background-color: rgba(22, 22, 22, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container{
  width: 800px;
  height: auto;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-chart{
  width: 800px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

}

.player-chart img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 25px;
}

.player-faction{
  width: 100px;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

@media(max-width: 825px){
  .player-container{
    width: 600px;
  }

  .player-chart{
    width: 600px;
  }
}

@media(max-width: 617px){
  .player-container{
    width: 400px;
  }

  .player-chart{
    width: 400px;
  }
}

@media(max-width: 414px){
  .allies-container h1{
    font-size: 25px;
  }

  .player-container{
    width: 300px;
    font-size: 12px;
  }

  .player-chart{
    width: 300px;
  }
}