

.nav{
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(58,109,28);
  background: linear-gradient(102deg, rgba(58,109,28,1) 23%, rgba(176,190,169,1) 100%);
  color: rgb(241, 247, 238);
  
}

.nav-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title h1{
  margin:0px;
}
.nav-title p{
  margin:0px;
  font-size: 10px;
  font-style: italic;
}

.nav button{
  border-radius: 10%;
}

.nav-links{
  height: 25px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 247, 238);
  font-weight: bold;
}

.Links{
  color: black;
  text-decoration: none;
}

.Links:hover{
  color: rgb(58, 109, 28);
}

.nav-login input{
  width: 100px;
  
}

.nav-user-info{
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-username{
  text-decoration: none;
  font-weight: 900;
  color: white;
}

.nav-username:hover{
  color: black
}

.dropdown {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-options {
  display: none;
}

.responsive-login{
  display: none;
}

.dropdown-login{
  display: none;
}

.responsive-nav-user-info{
  display: none;
}

@media(max-width: 930px){
  .nav{
    justify-content: space-around;
    /* position: fixed;
    top: 0px; */
  }

  .nav-title{
    display: none;
  }

  .nav-links{
    display: none;
  }

  .dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
  }

  .dropdown:hover{
    cursor: pointer;
  }

  .dropdown img{
    height: 24px;
    width: 25px;
    margin: 0px;
  }

  .mobile-menu{
    display: initial;
    box-sizing: border-box;
    height: 250px;
    width: 25vw;
    position: fixed;
    top: 75px;
    left: 0px;
    background-color:rgba(255, 255, 255, 0.95) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-weight: lighter;
    -webkit-overflow-scrolling: touch;
  }

  .mobile-options {
    height: 250px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: normal;
    z-index: 2;
    color: grey;
    
  }
}

@media(max-width: 810px){
  .mobile-options {
    font-size: 20px;
  }
}

@media(max-width: 648px){
  .nav{
    justify-content: space-around;
    align-items: center;

  }

  .nav-login{
    display: none;
  }

  .responsive-login{
    height: 50px;
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

  .responsive-login button{
    height: 40px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .mobile-options{
    align-items: center;
    font-size: 13px;
  }

  .dropdown-login{
    display: initial;
    box-sizing: border-box;
    height: 250px;
    width: 100vw;
    position: fixed;
    top: 75px;
    left: 0px;
    background-color:rgba(255, 255, 255, 0.95) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
  }

  .dropdown-login input{
    width: 200px;
    height: 30px;
  }

  .dropdown-login button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
  }
}

@media(max-width: 414px){
  .responsive-login button{
    width: 70px;
  }

  .mobile-menu{
    height: 50vh;
    width: 100vw;
  }

  .mobile-options{
    height: 50vh;
    width: 100vw;
    align-items: center;
    font-size: 30px;
  }
}